                                <li>
                                    <%= link_to '<i class="si si-energy"></i><span class="sidebar-mini-hide">Features</span>'.html_safe, :frontend_features %>
                                </li>
                                <li>
                                    <%= link_to '<i class="si si-wallet"></i><span class="sidebar-mini-hide">Pricing</span>'.html_safe, :frontend_pricing %>
                                </li>
                                <li>
                                    <%= link_to '<i class="si si-envelope-open"></i><span class="sidebar-mini-hide">Contact</span>'.html_safe, :frontend_contact %>
                                </li>