        <!-- Message Modal -->
        <div class="modal fade" id="modal-message" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-popout">
                <div class="modal-content">
                    <div class="block block-themed block-transparent remove-margin-b">
                        <div class="block-header bg-primary-dark">
                            <ul class="block-options">
                                <li>
                                    <button data-toggle="tooltip" data-placement="left" title="Reply" type="button"><i class="si si-action-undo"></i></button>
                                </li>
                                <li>
                                    <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                                </li>
                            </ul>
                            <h3 class="block-title">Welcome to our service</h3>
                        </div>
                        <div class="block-content block-content-full bg-image text-center" style="background-image: url('assets/img/photos/photo7.jpg');">
                            <img class="img-avatar img-avatar96 img-avatar-thumb" src="/assets/img/avatars/avatar4.jpg" alt="">
                        </div>
                        <div class="block-content block-content-full block-content-mini bg-gray-lighter">
                            <span class="font-s13 text-muted pull-right"><em>2 min ago</em></span>
                            <a class="font-s13" href="javascript:void(0)">service@example.com</a>
                        </div>
                        <div class="block-content">
                            <p>Dear John,</p>
                            <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                            <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                            <p>Best Regards,</p>
                            <p>Amber Walker</p>
                        </div>
                        <div class="block-content bg-gray-lighter">
                            <div class="row items-push">
                                <div class="col-sm-4">
                                    <div class="img-container fx-img-zoom-in">
                                        <img class="img-responsive" src="/assets/img/photos/photo1.jpg" alt="">
                                        <div class="img-options">
                                            <div class="img-options-content">
                                                <a class="btn btn-sm btn-default" href="javascript:void(0)"><i class="fa fa-download"></i> Download</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="font-s13 text-muted push-5-t">01.jpg</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="img-container fx-img-zoom-in">
                                        <img class="img-responsive" src="/assets/img/photos/photo2.jpg" alt="">
                                        <div class="img-options">
                                            <div class="img-options-content">
                                                <a class="btn btn-sm btn-default" href="javascript:void(0)"><i class="fa fa-download"></i> Download</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="font-s13 text-muted push-5-t">02.jpg</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="img-container fx-img-zoom-in">
                                        <img class="img-responsive" src="/assets/img/photos/photo3.jpg" alt="">
                                        <div class="img-options">
                                            <div class="img-options-content">
                                                <a class="btn btn-sm btn-default" href="javascript:void(0)"><i class="fa fa-download"></i> Download</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="font-s13 text-muted push-5-t">03.jpg</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Message Modal -->