                                <li>
                                    <%= link_to '<i class="si si-energy"></i><span class="sidebar-mini-hide">Features</span>'.html_safe, :frontend_features, class: active_link?(frontend_features_path) %>
                                </li>
                                <li>
                                    <%= link_to '<i class="si si-wallet"></i><span class="sidebar-mini-hide">Pricing</span>'.html_safe, :frontend_pricing, class: active_link?(frontend_pricing_path) %>
                                </li>
                                <li>
                                    <%= link_to '<i class="si si-envelope-open"></i><span class="sidebar-mini-hide">Contact</span>'.html_safe, :frontend_contact, class: active_link?(frontend_contact_path) %>
                                </li>