<% content_for :js_code do %>
  <script>
    $(function () {
        // Init page helpers (Appear plugin)
        App.initHelpers('appear');
    });
  </script>
<% end %>
            <main id="main-container">
                <!-- Hero Content -->
                <div class="bg-primary-dark">
                    <section class="content content-full content-boxed overflow-hidden">
                        <!-- Section Content -->
                        <div class="push-100-t push-50 text-center">
                            <h1 class="h2 text-white push-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Log in to your dashboard.</h1>
                            <h2 class="h5 text-white-op visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Unlimited ideas. Unlimited power. Unlimited joy. Unlimited opportunities.</h2>
                        </div>
                        <div class="row visibility-hidden" data-toggle="appear" data-class="animated fadeInUp">
                            <div class="col-sm-8 col-sm-offset-2">
                                <img class="img-responsive pull-b" src="/assets/img/various/promo1.jpg" alt="">
                            </div>
                        </div>
                        <!-- END Section Content -->
                    </section>
                </div>
                <!-- END Hero Content -->

                <!-- Log In Form -->
                <div class="bg-white">
                    <section class="content content-boxed">
                        <!-- Section Content -->
                        <div class="row items-push push-50-t push-30">
                            <div class="col-md-6 col-md-offset-3">
                                <%= render "devise/shared/login_form" %>
                            </div>
                        </div>
                        <!-- END Section Content -->
                    </section>
                </div>
                <!-- END Log In Form -->

                <!-- Sign Up Today -->
                <div class="bg-gray-lighter">
                    <section class="content content-full content-boxed">
                        <!-- Section Content -->
                        <div class="push-20-t push-20 text-center">
                            <%= render "devise/shared/signup_link" %>
                        </div>
                        <!-- END Section Content -->
                    </section>
                </div>
                <!-- END Sign Up Today -->
            </main>